/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* SideBar */
@import url("./Colors.css");

/* SideBar */
@import url("./Controls/oSidebar.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}



.home-section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 230px;
    width: calc(100% - 230px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
    left: 50px;
    width: calc(100% - 50px);
}

.z-navbar {
    padding: 7px 7px;
    justify-content: space-between !important;
    /*background-color: #f5f5f5;*/
    background-image: linear-gradient(180deg, #efefef 45%, #ebebeb 0, #f9f9f9);
    border-bottom: 1px solid #dee2e6;
    z-index: 1037;
    height: 45px;
    /*background: linear-gradient(#fff 10%, #f1f4fa 25%, #f1f4fa 43%, #d4dbee);*/
}

.z-menu {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #565656;
    font-size: 20px;
}

.home-section .home-content .bx-menu {
    cursor: pointer;
    margin-right: 10px;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.content-wrapper {
    background-image: url("../Images/FondoGRH.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - calc(4.3rem + 1px));
}


.main-footer {
    background: linear-gradient(1deg, #efefef 45%, #ebebeb 0, #f9f9f9);
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 0.3rem;
    left: 260px;
    font-size: 10px;
    position: sticky;
}

.layout-footer-fixed .wrapper .main-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
}

.d-sm-block {
    display: block !important;
}

.float-right {
    float: right !important;
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 240px;
    }

        .sidebar.close {
            width: 78px;
        }

        .sidebar .profile-details {
            width: 240px;
        }

        .sidebar.close .profile-details {
            background: none;
        }

        .sidebar.close .profile-details {
            width: 78px;
        }

    .home-section {
        left: 240px;
        width: calc(100% - 240px);
    }

    .sidebar.close ~ .home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
}


/*Estilos para el Popup*/
.PopupContainer {
    position: ABSOLUTE;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2000;
}

.PopupWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 60%;
    background-color: white;
    border: solid 1px #324252;
    transform: translate(-50%, -50%);
}

.BarraTitulo {
    background-color: #1b2a47;
    padding: 5px 10px 5px 10px;
    color: white;
}

.IconoMedio {
    cursor: pointer;
}
